@model Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Product List";
    Layout = "_Layout";
}

<form class="form-control" asp-action="Create" asp-controller="Product" method="post">
    <label asp-for="Name">Name</label>
    <input class="form-control" asp-for="Name" type="text" placeholder="name" />
    <label asp-for="Price">Price</label>
    <input class="form-control" asp-for="Price" type="text" placeholder="price" />
    <label asp-for="Description">Description</label>
    <input class="form-control" asp-for="Description" type="text" placeholder="description" />
    <label asp-for="Quantity">Quantity</label>
    <input class="form-control" asp-for="Quantity" type="number" placeholder="quantity" />
    <label asp-for="CategotyId">CategoryId</label>
    <input class="form-control" asp-for="CategotyId" type="number" placeholder="categoryId" />
    <button class="btn btn-success" type="submit">Create</button>
</form>